#articles
{
   text-align: center;
}
body
{
   background-color: #FFFFFF;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
}
#wb_JavaScript2
{
   display: block;
   float: left;
   width: 100%;
   height: 41px;
   margin: 0;
}
#Blog3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
   height: 910px;
}
#Blog3 .blogitem
{
   background-color: #FFFFFF;
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Blog3 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Blog3 .blogsubject, #Blog3 .blogsubject a:link, #Blog3 .blogsubject a:visited, #Blog3 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   font-style: normal;
   text-decoration: none;
}
#Blog3 .blogcomments, #Blog3 .blogcomments a:link, #Blog3 .blogcomments a:visited, #Blog3 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Blog3 .blogcomments
{
   text-decoration: none;
}
#Blog3 .no-thumb
{
   display: none;
}
#Blog3 img
{
   border-width: 0;
   width: 50%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
#Blog3 .blogthumbnail
{
   display: block;
}
#Blog3 .blogsubject
{
   margin-bottom: 32px;
   margin-top: 12px;
   padding: 0;
   display: block;
   font-family: Arial;
   font-size: 13px;
   color: #666666;
}
#Blog3 .blogcaption
{
   padding: 9px;
}
#Blog2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
   height: 1415px;
}
#Blog2 .blogitem
{
   background-color: #FFFFFF;
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Blog2 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Blog2 .blogsubject, #Blog2 .blogsubject a:link, #Blog2 .blogsubject a:visited, #Blog2 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   font-style: normal;
   text-decoration: none;
}
#Blog2 .blogcomments, #Blog2 .blogcomments a:link, #Blog2 .blogcomments a:visited, #Blog2 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Blog2 .blogcomments
{
   text-decoration: none;
}
#Blog2 .no-thumb
{
   display: none;
}
#Blog2 img
{
   border-width: 0;
   width: 50%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
#Blog2 .blogthumbnail
{
   display: block;
}
#Blog2 .blogsubject
{
   margin-bottom: 32px;
   margin-top: 12px;
   padding: 0;
   display: block;
   font-family: Arial;
   font-size: 13px;
   color: #666666;
}
#Blog2 .blogcaption
{
   padding: 9px;
}
#Blog1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
   height: 6048px;
}
#Blog1 .blogitem
{
   background-color: #FFFFFF;
   margin-bottom: 4px;
   padding: 0px;
   text-align: left;
}
#Blog1 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Blog1 .blogsubject, #Blog1 .blogsubject a:link, #Blog1 .blogsubject a:visited, #Blog1 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   font-style: normal;
   text-decoration: none;
}
#Blog1 .blogcomments, #Blog1 .blogcomments a:link, #Blog1 .blogcomments a:visited, #Blog1 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Blog1 .blogcomments
{
   text-decoration: none;
}
#Blog1 .no-thumb
{
   display: none;
}
#Blog1 .blogbutton
{
   display: none !important;
}
#Blog1 img
{
   border-width: 0;
   width: 50%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
#Blog1 .blogthumbnail
{
   display: block;
}
#Blog1 .blogsubject
{
   margin-bottom: 32px;
   margin-top: 12px;
   padding: 0;
   display: block;
   font-family: Arial;
   font-size: 13px;
   color: #666666;
}
#Blog1 .blogcaption
{
   padding: 9px;
}
#Footer1 h6
{
   color: #3E3E3E;
   font-style: normal;
}
