body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_1366 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_1366 div
{
   text-align: center;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 29px;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_320 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_320 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_360 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_360 div
{
   text-align: center;
}
#wb_384 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_384 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_320
{
   position: absolute;
   left: 235px;
   top: 327px;
   width: 320px;
   height: 64px;
   visibility: hidden;
   text-align: center;
   z-index: 5;
}
#wb_Text1
{
   position: absolute;
   left: 606px;
   top: 101px;
   width: 724px;
   height: 40px;
   text-align: center;
   z-index: 4;
}
#wb_Text2
{
   position: absolute;
   left: 193px;
   top: 416px;
   width: 320px;
   height: 54px;
   visibility: hidden;
   text-align: center;
   z-index: 6;
}
#wb_Text3
{
   position: absolute;
   left: 250px;
   top: 430px;
   width: 320px;
   height: 54px;
   visibility: hidden;
   text-align: center;
   z-index: 9;
}
#wb_Image1
{
   position: absolute;
   left: 171px;
   top: 272px;
   width: 384px;
   height: 498px;
   visibility: hidden;
   z-index: 1;
}
#wb_Image2
{
   position: absolute;
   left: 1px;
   top: 0px;
   width: 1329px;
   height: 491px;
   z-index: 0;
}
#wb_360
{
   position: absolute;
   left: 264px;
   top: 359px;
   width: 358px;
   height: 66px;
   visibility: hidden;
   text-align: center;
   z-index: 7;
}
#Button1
{
   position: absolute;
   left: 686px;
   top: 336px;
   width: 613px;
   height: 98px;
   z-index: 3;
}
#wb_1366
{
   position: absolute;
   left: 715px;
   top: 184px;
   width: 554px;
   height: 96px;
   text-align: center;
   z-index: 2;
}
#wb_384
{
   position: absolute;
   left: 236px;
   top: 373px;
   width: 358px;
   height: 74px;
   visibility: hidden;
   text-align: center;
   z-index: 8;
}
@media only screen and (min-width: 1280px) and (max-width: 1329px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1px;
   top: 0px;
   width: 1277px;
   height: 453px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 766px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 545px;
   top: 156px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 636px;
   top: 231px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 554px;
   top: 64px;
   width: 709px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 1023px;
   height: 363px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 766px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 207px;
   top: 151px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 243px;
   top: 219px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 294px;
   top: 67px;
   width: 709px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 980px) and (max-width: 1023px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 978px;
   height: 347px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 766px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 212px;
   top: 99px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 269px;
   top: 167px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 243px;
   top: 17px;
   width: 709px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 800px) and (max-width: 979px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 798px;
   height: 283px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 798px;
   height: 1036px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 442px;
   top: 100px;
   width: 293px;
   height: 76px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 433px;
   top: 196px;
   width: 310px;
   height: 59px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 394px;
   top: 55px;
   width: 388px;
   height: 24px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 799px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 767px;
   height: 272px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 767px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 403px;
   top: 102px;
   width: 304px;
   height: 45px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 403px;
   top: 178px;
   width: 304px;
   height: 55px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 358px;
   top: 2px;
   width: 394px;
   height: 80px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 568px) and (max-width: 767px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 578px;
   height: 204px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 767px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 296px;
   top: 71px;
   width: 265px;
   height: 45px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 326px;
   top: 135px;
   width: 205px;
   height: 39px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 12px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 281px;
   top: 40px;
   width: 294px;
   height: 20px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 411px) and (max-width: 567px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 0px;
   width: 411px;
   height: 531px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 14px;
   top: 410px;
   width: 346px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 60px;
   top: 482px;
   width: 254px;
   height: 61px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 26px;
   top: 335px;
   width: 358px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 384px) and (max-width: 410px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 382px;
   height: 496px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 19px;
   top: 389px;
   width: 346px;
   height: 48px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 65px;
   top: 461px;
   width: 254px;
   height: 61px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 1px;
   top: 319px;
   width: 358px;
   height: 80px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_320
{
   left: 32px;
   top: 253px;
   width: 320px;
   height: 64px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_320
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 32px;
   top: 387px;
   width: 320px;
   height: 54px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_360
{
   left: 1px;
   top: 342px;
   width: 358px;
   height: 66px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_360
{
   margin: 0;
   padding: 0;
}
#wb_384
{
   left: 0px;
   top: 313px;
   width: 384px;
   height: 74px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_384
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 0px;
   top: 392px;
   width: 384px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 375px) and (max-width: 383px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 373px;
   height: 485px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 19px;
   top: 389px;
   width: 346px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 65px;
   top: 462px;
   width: 254px;
   height: 61px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 13px;
   top: 325px;
   width: 358px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 375px) and (max-width: 374px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 373px;
   height: 485px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 19px;
   top: 389px;
   width: 346px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 65px;
   top: 462px;
   width: 254px;
   height: 61px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 13px;
   top: 325px;
   width: 358px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 360px) and (max-width: 374px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 358px;
   height: 465px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 1px;
   top: 389px;
   width: 346px;
   height: 160px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 34px;
   top: 488px;
   width: 281px;
   height: 57px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 1px;
   top: 325px;
   width: 358px;
   height: 80px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_320
{
   left: 0px;
   top: 312px;
   width: 320px;
   height: 64px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_320
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 14px;
   top: 410px;
   width: 320px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_360
{
   left: 1px;
   top: 342px;
   width: 358px;
   height: 66px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_360
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 359px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 415px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_1366
{
   left: 0px;
   top: 379px;
   width: 320px;
   height: 192px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_1366
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 29px;
   top: 449px;
   width: 262px;
   height: 53px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 0px;
   top: 299px;
   width: 320px;
   height: 80px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_320
{
   left: 0px;
   top: 312px;
   width: 320px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_320
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 0px;
   top: 381px;
   width: 320px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_360
{
   left: 0px;
   top: 227px;
   width: 320px;
   height: 66px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_360
{
   margin: 0;
   padding: 0;
}
#wb_384
{
   left: 236px;
   top: 373px;
   width: 358px;
   height: 74px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_384
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 250px;
   top: 430px;
   width: 320px;
   height: 54px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
