body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 29px;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   position: absolute;
   left: 638px;
   top: 79px;
   width: 709px;
   height: 32px;
   text-align: center;
}
#wb_Text2
{
   position: absolute;
   left: 621px;
   top: 156px;
   width: 726px;
   height: 36px;
   text-align: center;
}
#wb_Image1
{
   position: absolute;
   left: 171px;
   top: 272px;
   width: 384px;
   height: 498px;
   visibility: hidden;
}
#wb_Image2
{
   position: absolute;
   left: 1px;
   top: 0px;
   width: 1329px;
   height: 491px;
}
#Button1
{
   position: absolute;
   left: 686px;
   top: 291px;
   width: 613px;
   height: 98px;
}
@media only screen and (min-width: 1280px) and (max-width: 1329px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1px;
   top: 0px;
   width: 1277px;
   height: 453px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 766px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 545px;
   top: 156px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 636px;
   top: 231px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 554px;
   top: 64px;
   width: 709px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 1023px;
   height: 363px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 766px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 207px;
   top: 151px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 243px;
   top: 219px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 294px;
   top: 67px;
   width: 709px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 980px) and (max-width: 1023px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 978px;
   height: 347px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 766px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 212px;
   top: 99px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 269px;
   top: 167px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 243px;
   top: 17px;
   width: 709px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 800px) and (max-width: 979px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 798px;
   height: 283px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 798px;
   height: 1036px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 72px;
   top: 79px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 187px;
   top: 129px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 91px;
   top: 29px;
   width: 709px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 799px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 767px;
   height: 272px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 767px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 0px;
   top: 66px;
   width: 726px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 94px;
   top: 134px;
   width: 613px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 0px;
   top: 12px;
   width: 768px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 578px) and (max-width: 767px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 0px;
   top: 0px;
   width: 575px;
   height: 204px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 767px;
   height: 994px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 298px;
   top: 57px;
   width: 205px;
   height: 90px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 351px;
   top: 147px;
   width: 98px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 270px;
   top: 0px;
   width: 261px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 384px) and (max-width: 577px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 382px;
   height: 496px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 19px;
   top: 389px;
   width: 346px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 19px;
   top: 459px;
   width: 346px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 13px;
   top: 325px;
   width: 358px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 360px) and (max-width: 383px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 1px;
   top: 0px;
   width: 358px;
   height: 465px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 1px;
   top: 389px;
   width: 346px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 1px;
   top: 465px;
   width: 346px;
   height: 98px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 29px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 1px;
   top: 325px;
   width: 358px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 359px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image2
{
   left: 1675px;
   top: 590px;
   width: 1365px;
   height: 491px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 415px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 0px;
   top: 377px;
   width: 320px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 29px;
   top: 448px;
   width: 262px;
   height: 53px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 17px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: rgba(0,191,255,0.80);
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Text1
{
   left: 0px;
   top: 311px;
   width: 320px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
