div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #DC143C;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#CardContainer1
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   font-size: 0px;
}
@media all and (max-width:480px) 
{
#CardContainer1
{
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FBFBFB;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#Card1-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#Card1-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card1-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 10px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#YouTube1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube1
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#wb_pujolistCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard1-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard1-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#pujolistCard1-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_pujolistCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard2-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard2-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#pujolistCard2-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_pujolistImage1
{
   margin: 0;
   vertical-align: top;
}
#pujolistImage1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_pujolistImage2
{
   margin: 0;
   vertical-align: top;
}
#pujolistImage2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_pujolistText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_pujolistText1 div
{
   text-align: center;
}
#wb_pujolistText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_pujolistLayoutGrid27
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#pujolistLayoutGrid27
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#pujolistLayoutGrid27 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#pujolistLayoutGrid27 > .row > .col-1, #pujolistLayoutGrid27 > .row > .col-2, #pujolistLayoutGrid27 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#pujolistLayoutGrid27 > .row > .col-1, #pujolistLayoutGrid27 > .row > .col-2, #pujolistLayoutGrid27 > .row > .col-3
{
   float: left;
}
#pujolistLayoutGrid27 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#pujolistLayoutGrid27 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#pujolistLayoutGrid27 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#pujolistLayoutGrid27:before,
#pujolistLayoutGrid27:after,
#pujolistLayoutGrid27 .row:before,
#pujolistLayoutGrid27 .row:after
{
   display: table;
   content: " ";
}
#pujolistLayoutGrid27:after,
#pujolistLayoutGrid27 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#pujolistLayoutGrid27 > .row > .col-1, #pujolistLayoutGrid27 > .row > .col-2, #pujolistLayoutGrid27 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_pujolistCard42
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard42-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard42-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard42-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard42-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard42-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistCard43
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard43-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard43-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard43-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard43-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard43-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistCard44
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard44-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard44-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard44-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard44-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard44-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistLayoutGrid28
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#pujolistLayoutGrid28
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#pujolistLayoutGrid28 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#pujolistLayoutGrid28 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#pujolistLayoutGrid28 > .row > .col-1
{
   float: left;
}
#pujolistLayoutGrid28 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#pujolistLayoutGrid28:before,
#pujolistLayoutGrid28:after,
#pujolistLayoutGrid28 .row:before,
#pujolistLayoutGrid28 .row:after
{
   display: table;
   content: " ";
}
#pujolistLayoutGrid28:after,
#pujolistLayoutGrid28 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#pujolistLayoutGrid28 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#pujolistYouTube14
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_pujolistYouTube14
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#wb_pujolistLayoutGrid29
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#pujolistLayoutGrid29
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#pujolistLayoutGrid29 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#pujolistLayoutGrid29 > .row > .col-1, #pujolistLayoutGrid29 > .row > .col-2, #pujolistLayoutGrid29 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#pujolistLayoutGrid29 > .row > .col-1, #pujolistLayoutGrid29 > .row > .col-2, #pujolistLayoutGrid29 > .row > .col-3
{
   float: left;
}
#pujolistLayoutGrid29 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#pujolistLayoutGrid29 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#pujolistLayoutGrid29 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#pujolistLayoutGrid29:before,
#pujolistLayoutGrid29:after,
#pujolistLayoutGrid29 .row:before,
#pujolistLayoutGrid29 .row:after
{
   display: table;
   content: " ";
}
#pujolistLayoutGrid29:after,
#pujolistLayoutGrid29 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#pujolistLayoutGrid29 > .row > .col-1, #pujolistLayoutGrid29 > .row > .col-2, #pujolistLayoutGrid29 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_pujolistCard45
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard45-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard45-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard45-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard45-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard45-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistCard46
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard46-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard46-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard46-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard46-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard46-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistCard47
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard47-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard47-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard47-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard47-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard47-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistLayoutGrid30
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#pujolistLayoutGrid30
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#pujolistLayoutGrid30 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#pujolistLayoutGrid30 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#pujolistLayoutGrid30 > .row > .col-1
{
   float: left;
}
#pujolistLayoutGrid30 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#pujolistLayoutGrid30:before,
#pujolistLayoutGrid30:after,
#pujolistLayoutGrid30 .row:before,
#pujolistLayoutGrid30 .row:after
{
   display: table;
   content: " ";
}
#pujolistLayoutGrid30:after,
#pujolistLayoutGrid30 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#pujolistLayoutGrid30 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#pujolistYouTube15
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_pujolistYouTube15
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#wb_pujolistLayoutGrid31
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#pujolistLayoutGrid31
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#pujolistLayoutGrid31 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#pujolistLayoutGrid31 > .row > .col-1, #pujolistLayoutGrid31 > .row > .col-2, #pujolistLayoutGrid31 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#pujolistLayoutGrid31 > .row > .col-1, #pujolistLayoutGrid31 > .row > .col-2, #pujolistLayoutGrid31 > .row > .col-3
{
   float: left;
}
#pujolistLayoutGrid31 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#pujolistLayoutGrid31 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#pujolistLayoutGrid31 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#pujolistLayoutGrid31:before,
#pujolistLayoutGrid31:after,
#pujolistLayoutGrid31 .row:before,
#pujolistLayoutGrid31 .row:after
{
   display: table;
   content: " ";
}
#pujolistLayoutGrid31:after,
#pujolistLayoutGrid31 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#pujolistLayoutGrid31 > .row > .col-1, #pujolistLayoutGrid31 > .row > .col-2, #pujolistLayoutGrid31 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_pujolistCard48
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard48-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard48-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard48-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard48-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard48-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistCard49
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard49-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard49-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard49-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard49-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard49-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistCard50
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#pujolistCard50-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#pujolistCard50-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#pujolistCard50-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#pujolistCard50-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#pujolistCard50-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 25px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_pujolistLayoutGrid32
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#pujolistLayoutGrid32
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#pujolistLayoutGrid32 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#pujolistLayoutGrid32 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#pujolistLayoutGrid32 > .row > .col-1
{
   float: left;
}
#pujolistLayoutGrid32 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#pujolistLayoutGrid32:before,
#pujolistLayoutGrid32:after,
#pujolistLayoutGrid32 .row:before,
#pujolistLayoutGrid32 .row:after
{
   display: table;
   content: " ";
}
#pujolistLayoutGrid32:after,
#pujolistLayoutGrid32 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#pujolistLayoutGrid32 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#pujolistYouTube16
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_pujolistYouTube16
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#pujolistSiteSearch1
{
   border: 1px solid #00BFFF;
   border-radius: 4px;
   background-color: #FFD700;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   box-shadow: 0px 0px 10px #000000;
}
.search-item, .search-text
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
}
.search-text
{
   margin: 0 0 4px 0;
}
.search-title, .search-title:active, .search-title:hover, .search-title:visited
{
   color: #FF0000;
}
.search-url, .search-url:active, .search-url:hover, .search-url:visited
{
   color: #1E90FF;
   text-decoration: none;
}
.search-highlight
{
   font-weight: bold;
   font-style: normal;
}
.clickable
{
   cursor: pointer;
}
#search-pagination
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 8px 0 0 4px;
}
#search-pagination > li
{
   display: inline;
   font-size: 13px;
}
#search-pagination > li > a, #search-pagination > li > span
{
   position: relative;
   float: left;
   padding: 4px 10px 4px 10px;
   text-decoration: none;
   background-image: none;
   border: 1px #DDDDDD solid;
   color: #000000;
   margin-left: -1px;
}
#search-pagination > li:first-child > a, #search-pagination > li:first-child > span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#search-pagination > li:last-child > a, #search-pagination > li:last-child > span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#search-pagination > li > a:hover, #search-pagination > li > span:hover, #search-pagination > li > a:focus, #search-pagination > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#search-pagination > .active > a, #search-pagination > .active > span, #search-pagination > .active > a:hover, #search-pagination > .active > span:hover, #search-pagination > .active > a:focus, #search-pagination > .active > span:focus
{
   z-index: 2;
   background-color:#000000;
   border-color:#000000;
   color: #FFFFFF;
   cursor: default;
}
#search-pagination > .disabled > span, #search-pagination > .disabled > span:hover, #search-pagination1 > .disabled > span:focus, #search-pagination > .disabled > a, #search-pagination > .disabled > a:hover, #search-pagination > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
.search-autocomplete
{
   position: absolute;
   background: #FFD700;
   border: 1px solid #00BFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   list-style-type: none;
   z-index: 999;
   padding: 0;
   width: 455px;
   margin: 0;
}
.search-autocomplete li
{
   padding: 4px 4px 4px 4px;
   margin: 0;
}
.search-autocomplete li.selected
{
   background: #00BFFF;
   color: #FFD700;
}
.ui-dialog
{
   padding: 4px 4px 4px 4px;
   text-align: left;
}
.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #454545;
}
.ui-dialog .ui-dialog-titlebar
{
   padding: 4px 4px 4px 4px;
}
.ui-dialog .ui-dialog-content
{
   padding: 6px 2px 2px 2px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   right: 10px;
}
.ui-dialog .ui-dialog-buttonpane button
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#pujolistButton1
{
   border: 1px solid #7CFC00;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   box-shadow: 0px 0px 10px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #DC143C;
   background: linear-gradient(to top, #DC143C 0%, #FFD700 100%);
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 5px 0px 20px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
   height: 36px;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100% !important;
   height: auto;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#Card3-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#Card3-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 15px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card3-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFF00;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 7px #000000;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
}
#Card4-card-item1 h1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#Card4-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 15px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
