div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FF0080;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_page2LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#page2LayoutGrid1
{
   box-sizing: border-box;
   height: 100vh;
   width: 100%;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#page2LayoutGrid1 > .row
{
   display: grid;
   grid-template-columns: repeat(12, 8.333333%);
   margin-right: -15px;
   margin-left: -15px;
}
#page2LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
   grid-column: span 12;
}
#page2LayoutGrid1 > .row > .col-1
{
}
#page2LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 12;
   -webkit-align-self: center;
   align-self: center;
   text-align: center;
}
@media (max-width: 480px)
{
#wb_page2LayoutGrid1, #page2LayoutGrid1
{
   height: auto;
}
#page2LayoutGrid1 > div[class^="col-"]
{
   height: 100vh;
}
#page2LayoutGrid1 > .row > .col-1
{
   width: 100%;
   grid-column: span 12;
}
}
#wb_page2InlineFrame1
{
   border: 0px solid #C0C0C0;
   margin: 0;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
   position: relative;
}
#page2InlineFrame1
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#page2InlineFrame2
{
   border: 0px solid #C0C0C0;
   margin: 0;
}
#page2InlineFrame2
{
   display: block;
   float: left;
   width: 100%;
   height: 734px;
   vertical-align: top;
}
#wb_page2LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#page2LayoutGrid3
{
   box-sizing: border-box;
   width: 100%;
   padding: 0px 6px 0px 6px;
   margin-right: auto;
   margin-left: auto;
}
#page2LayoutGrid3 > .row
{
   display: grid;
   grid-template-columns: repeat(12, 8.333333%);
   margin-right: -6px;
   margin-left: -6px;
}
#page2LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 6px;
   padding-left: 6px;
   position: relative;
   grid-column: span 12;
}
#page2LayoutGrid3 > .row > .col-1
{
}
#page2LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 12;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
@media (max-width: 480px)
{
#page2LayoutGrid3 > .row > .col-1
{
   width: 100%;
   grid-column: span 12;
}
}
#page2JavaScript1 span 
{
   position: absolute;
   display: inline-block;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transition: all .5s cubic-bezier(0,0,0,1);
}
@keyframes spinZ {
0% { transform: rotateZ(360deg); }
100% { transform: rotateZ(0deg); }
}
