div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #018BF8;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #018BF8;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 752px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #018BF8;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   -webkit-animation: animate-border 1000ms linear 0ms infinite normal both;
   animation: animate-border 1000ms linear 0ms infinite normal both;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 6px 18px 0px 18px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -18px;
   margin-left: -18px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 18px;
   padding-left: 18px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 5px 0px 0px 0px;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#ThemeableButton1
{
   cursor: help;
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   font-style: normal;
}
#wb_ThemeableButton1
{
   border-radius: 10px;
   margin: 0;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   margin: 0;
   line-height: 48px;
}
#ThemeableButton1
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton1 :hover
{
   color: #2B2B2B;
}
#ThemeableButton1 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   position: absolute;
   left: 12px;
   top: 50%;
   margin-top: -13.5px;
   width: 27px;
   height: 27px;
   color: #00BFFF;
}
#wb_ThemeableButton1 .ui-primary:before
{
   content: "\e0b0";
}
#wb_ThemeableButton1:hover .ui-primary
{
   color: #2B2B2B;
}
#wb_ThemeableButton1:active .ui-primary
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #DAA520;
   background-image: none;
   border: 5px solid #8B0000;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-button .ui-icon
{
   background-image: url(images/promotion-ThemeableButton1-default.png);
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:hover .ui-icon
{
   background-image: url(images/promotion-ThemeableButton1-hover.png);
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:active .ui-icon
{
   background-image: url(images/promotion-ThemeableButton1-active.png);
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-visual-focus
{
   box-shadow: none;
}
#ThemeableButton2
{
   cursor: help;
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   font-style: normal;
}
#wb_ThemeableButton2
{
   border-radius: 10px;
   margin: 0;
}
#ThemeableButton2
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton2 .ui-button
{
   margin: 0;
   line-height: 48px;
}
#ThemeableButton2
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton2 :hover
{
   color: #2B2B2B;
}
#ThemeableButton2 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   position: absolute;
   left: 12px;
   top: 50%;
   margin-top: -13.5px;
   width: 27px;
   height: 27px;
   color: #00BFFF;
}
#wb_ThemeableButton2 .ui-primary:before
{
   content: "\e158";
}
#wb_ThemeableButton2:hover .ui-primary
{
   color: #2B2B2B;
}
#wb_ThemeableButton2:active .ui-primary
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-left
{
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-right
{
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
}
#wb_ThemeableButton2 .ui-button
{
   background-color: #DC143C;
   background-image: none;
   border: 5px solid #D3D3D3;
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-state-hover, #wb_ThemeableButton2 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton2 .ui-state-active, #wb_ThemeableButton2 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-button .ui-icon
{
   background-image: url(images/promotion-ThemeableButton2-default.png);
   background-position: 0 0;
}
#wb_ThemeableButton2 .ui-button:hover .ui-icon
{
   background-image: url(images/promotion-ThemeableButton2-hover.png);
   background-position: 0 0;
}
#wb_ThemeableButton2 .ui-button:active .ui-icon
{
   background-image: url(images/promotion-ThemeableButton2-active.png);
   background-position: 0 0;
}
#wb_ThemeableButton2 .ui-visual-focus
{
   box-shadow: none;
}
