div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
#wb_Card4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
#wb_Card5
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card5-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card5-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
#CardContainer1
{
   position: relative;
   padding: 10px 10px 10px 10px;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#CardContainer1 .owl-dots, #CardContainer1 .owl-nav
{
   text-align: center;
   -webkit-tap-highlight-color: transparent;
}
#CardContainer1 .owl-nav
{
   margin-top: 10px;
}
#CardContainer1 .owl-nav [class*=owl-]
{
   color: #800000;
   font-size: 14px;
   margin: 5px;
   padding: 4px 7px;
   background: #D6D6D6;
   display: inline-block;
   cursor: pointer;
   border-radius: 3px;
}
#CardContainer1 .owl-nav [class*=owl-]:hover
{
   background: #800000;
   color: #D6D6D6;
   text-decoration: none;
}
#CardContainer1 .owl-nav .disabled
{
   opacity: .5;
   cursor: default;
}
#CardContainer1 .owl-nav.disabled+.owl-dots
{
   margin-top: 10px;
}
#CardContainer1 .owl-nav
{
   position:  relative;
   top: -271px;
   display:  none;
   justify-content: space-between;
   margin: 0 20px;
   color: #000;
}
#CardContainer1 .owl-nav button.owl-prev, #CardContainer1 .owl-nav button.owl-next
{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: rgba(255,255,255, 0.5);
}
#CardContainer1 .owl-dots .owl-dot
{
   display: inline-block;
   zoom: 1;
}
#CardContainer1 .owl-dots .owl-dot span
{
   width: 12px;
   height: 12px;
   margin: 10px 10px;
   background: #D6D6D6;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity 200ms ease;
   border-radius: 50%;
}
#CardContainer1 .owl-dots .owl-dot.active span, #CardContainer1 .owl-dots .owl-dot:hover span
{
   background: #800000;
}
#wb_Card6
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card6-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
