#Terms_and_Conditions
{
   text-align: center;
}
body
{
   background-color: #FFFFFF;
}
#Blog1
{
   background-color: transparent;
   border-width: 0;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
   height: 923px;
}
#Blog1 .blogitem
{
   background-color: #EEEEEE;
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Blog1 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Blog1 .blogsubject, #Blog1 .blogsubject a:link, #Blog1 .blogsubject a:visited, #Blog1 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Blog1 .blogcomments, #Blog1 .blogcomments a:link, #Blog1 .blogcomments a:visited, #Blog1 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Blog1 .blogcomments
{
   text-decoration: none;
}
#Blog1 .no-thumb
{
   display: none;
}
#Blog1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Blog1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Blog1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
