body
{
   background-color: #DC143C;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 521px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid12
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid12
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid12 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid12 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid12 > .row > .col-1
{
   float: left;
}
#LayoutGrid12 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid12:before,
#LayoutGrid12:after,
#LayoutGrid12 .row:before,
#LayoutGrid12 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid12:after,
#LayoutGrid12 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid12 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Card4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-item0
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 25px 5px 0px 0px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#Card4-card-item1
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 5px 0px 5px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item1 i
{
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#Card4-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 5px 5px 0px 5px;
   padding: 10px 16px 10px 16px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item2 i
{
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
