body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #FF4200;
   text-decoration: none;
}
a:active
{
   color: #000000;
}
a:hover
{
   color: #000000;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 90px 20px 10px 20px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -20px;
   margin-left: -20px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FF4200;
   background: radial-gradient(circle, #FF4200 0%, #800000 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 10px 0px 10px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: right;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 79px;
   height: 79px;
   vertical-align: top;
}
#wb_OverlayMenu2
{
   position: relative;
}
#OverlayMenu2
{
   background-color: rgba(66,66,66,0.00);
   background-image: none;
   border: 0px solid transparent;
   margin: 0;
}
#OverlayMenu2:hover
{
   background-color: rgba(204,204,204,0.00);
   background-image: none;
   border-color: #424242;
}
#OverlayMenu2
{
   display: block;
   width: 53px;
   height: 76px;
   position: absolute;
}
#OverlayMenu2 .line
{
   width: 17px;
   height: 3px;
   background: #FFFFFF;
   display: block;
   margin: 3px auto;
}
#OverlayMenu2:hover .line
{
   background: #FF0000;
}
#OverlayMenu2 .line:first-child
{
   margin-top: 29px;
}
#OverlayMenu2-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu2-close:before, #OverlayMenu2-close:after
{
   background: #FF0000;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu2-close span
{
   background: #FF0000;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu2-close span::after
{
   background: #FF0000;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu2-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu2-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu2-close span
{
   background: #FF0000;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
#OverlayMenu2-close span:after
{
   background: #FF0000;
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}
#OverlayMenu2-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(242,242,242,0.87);
}
#OverlayMenu2-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu2
{
   height: 60%;
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu2 a
{
   text-decoration: none;
}
.OverlayMenu2 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu2 li 
{
   position: relative;
}
.OverlayMenu2 li a 
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FF0000;
   outline: none;
}
.OverlayMenu2 li a:hover
{
   color: #424242;
   background-color: #FF0000;
}
#OverlayMenu2-overlay
{
   opacity: 0;
   visibility: hidden;
  -webkit-transform: translateX(50px) translateY(50px);
  transform: translateX(50px) translateY(50px);
  -webkit-transition: opacity 400ms, -webkit-transform 400ms, visibility 0s 400ms;
  transition: opacity 400ms, transform 400ms, visibility 0s 400ms;
}
#OverlayMenu2-overlay.show
{
   opacity: 1;
   visibility: visible;
   -webkit-transform: translateX(0px) translateY(0px);
   transform: translateX(0px) translateY(0px);
   -webkit-transition: opacity 400ms, -webkit-transform 400ms;
   transition: opacity 400ms, transform 400ms;
}
.OverlayMenu2 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu2 li.drilldown-back > a:hover
{
   background-color: #FF0000;
}
.OverlayMenu2 li.drilldown-back:after,
.OverlayMenu2 li > a:not(:only-child):after
{
   position: absolute;
   top: 15px;
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 9px;
   border-left: 9px solid #FF0000;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu2 li.drilldown-back:after
{
   left: 9px;
   color: #FF0000;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}
.OverlayMenu2 li.drilldown-back:hover:after,
.OverlayMenu2 li > a:not(:only-child):hover:after
{
   border-left-color: #424242;
}
.OverlayMenu2 li > a:after
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu2 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu2 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu2 > .drilldown-submenu 
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu2-overlay .overlay-icon
{
   margin: 0px 10px 0px 0px;
}
#OverlayMenu2-social
{
   padding: 40px 0px 0px 0px;
}
#OverlayMenu2-social .social-icon 
{
   border-radius: 50%;
   background-color: #FF0000;
   color: #F2F2F2;
   display: inline-block;
   font-size: 19px;
   margin: 0 .5em;
   padding: 7px;
   -webkit-transition: all .2s linear 0s;
   transition: all .2s linear 0s;
   width: 19px;
}
#OverlayMenu2-social .social-icon:hover 
{
   background-color: #424242;
   color: #FF0000;
}
.OverlayMenu2-effect
{
   -webkit-transition: all 500ms linear;
   transition: all 500ms linear;
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 1px solid #FF0000;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 30px #BFBFBF;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #FF0000;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 1px solid #70AD47;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 20px #BFBFBF;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #70AD47;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: center;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0px 0px 20px 0px;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 12px 22px 10px 22px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -22px;
   margin-left: -22px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 22px;
   padding-left: 22px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Editbox2
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 25px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox2:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#TextArea1
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 25px 0px;
   box-shadow: 0px 0px 10px #BFBFBF;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea1:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#Editbox3
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 25px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox3:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#Editbox4
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 25px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox4:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#Editbox1
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 25px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox1:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#Editbox5
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 30px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox5:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 1px solid #70AD47;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0px 0px 25px 0px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 20px #BFBFBF;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #70AD47;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: center;
}
#Editbox6
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 30px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox6:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox6:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#Editbox7
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 30px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox7:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox7:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#wb_Card4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FF0000;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0px 0px 25px 0px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 20px #BFBFBF;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-header
{
   box-sizing: border-box;
   border-bottom: 2px solid #FF0000;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card4-card-header h1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   margin: 0;
}
#Card4-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 15px 5px 20px 5px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: left;
}
#wb_Card5
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FF5757;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0px 0px 25px 0px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 20px #BFBFBF;
}
#Card5-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card5-card-header
{
   box-sizing: border-box;
   border-bottom: 2px solid #FF5757;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card5-card-header h1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   margin: 0;
}
#Card5-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 15px 5px 20px 5px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: left;
}
#Button1
{
   border: 2px solid #800000;
   border-radius: 15px;
   background-clip: padding-box;
   background-color: #FF4200;
   background: radial-gradient(circle, #FF4200 0%, #800000 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
}
#IconFont1
{
   height: 64px;
   width: 42px;
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 42px;
   line-height: 64px;
   vertical-align: middle;
   width: 38px;
}
#wb_IconFont1:hover i
{
   color: #FFC000;
}
#Editbox8
{
   border: 2px solid #FFC000;
   border-radius: 15px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Galada;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 39px;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 30px 0px;
   text-align: center;
   box-shadow: 0px 0px 10px #BFBFBF;
}
#Editbox8:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox8:focus
{
   -webkit-transform: rotate(0deg) scale(1.02,1.02) ;
   transform: rotate(0deg) scale(1.02,1.02) ;
   -webkit-transition: -webkit-transform 400ms linear 0ms;
   transition: transform 400ms linear 0ms;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 5px 0px 20px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
   height: 30px;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
   height: auto;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
